.App {
  min-height: 100vh;
  background-color: #efefef;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #b3b3ff;
  border: none;
  padding: 10px 20px;
  color: black;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}